<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Device Management App</a>
</nav>

<mat-sidenav-container class="sidenav" [ngStyle]="{'height': 'calc(100vh - 64px)'}">

    <mat-sidenav #leftSidenav [mode]="'side'" [fixedBottomGap]="0" opened (mouseenter)="changeNav(true)"
        (mouseleave)="changeNav(false)">
        <div class="sidenav-container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
            <div class="sidenav-list" fxLayout="column" fxLayoutGap="10px">

                <div class="links-menu">
                    <mat-nav-list *ngIf="pages !== null">
                        <ng-container *ngFor="let page of pages">
                            <a mat-list-item [disableRipple]="true" (mouseover)="changeHover(page)"
                                (mouseout)="changeHover()" routerLinkActive="active" [routerLink]="page.link">
                                <div *ngIf="sideNavState || page.active" [@enterAnimation]>
                                    <div [@enterAnimation]></div>
                                </div>
                                <div class="icon-container">
                                    <mat-icon aria-hidden="false">{{page.icon}}</mat-icon>
                                </div>
                                <span class="page-label" [@animateText]="sideNavState ? 'show' : 'hide'">{{ page?.name
                                    }} </span>
                            </a>
                        </ng-container>
                    </mat-nav-list>
                </div>
            </div>
            <span class="spacer"></span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="default-body" fxLayout fxLayoutAlign="center">
        <div fxFlex="100">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>