<div>
    <div class="submit-form">
      <div>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="category.name"
            name="name"
          />
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button (click)="redirectToCategories()" class="btn btn-danger">Cancel</button>

          <button (click)="saveCategory()" class="btn btn-success">Submit</button>

        </div>
      </div>
  
    </div>
  </div>
  