<div fxLayout="column">
  <div>
    <h4>Categories List</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let category of categories; let i = index" fxLayout="row"
        fxLayoutAlign="space-between center">
        {{ category.name }}
        <button class="m-3 btn btn-sm btn-danger" (click)="removeCategory(category)">
          Remove
        </button>
      </li>
    </ul>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button class="m-3 btn btn-sm btn-danger button-width" (click)="removeAllCategories()">
        Remove All
      </button>
      <button class="m-3 btn btn-sm btn-success button-width"  (click)="addCategory()">
        Add New
      </button>
    </div>
  </div>
</div>